{% extends 'base.html.twig' %}

{% block header %}

	<header id="header" class="container-fluid text-center p-0">
		{% block nav %}
			{{ parent() }}
		{% endblock %}
		<p class="">Chien pas cher sert à tout faire</p>
		<div class="btn-group pb-5 mb-5">
			<a href="list" class="btn btn-green">
				<span>Trouver votre chien</span>
			</a>
		</div>
	</header>

{% endblock %}

{% block body %}

	<h2 class="text-center">Dernier chiens ajoutés</h2>
	<section id="last-dog" class="row py-3 mb-5">
		{% for key, annonce in annonces %}
			<div class=" px-auto col-3 py-5">
				<div class="card shadow" style="width: 25rem;">
					{% for dog in annonce.dogs %}
						{% for image in dog.images %}
							<img src="{{ vich_uploader_asset(annonce.firstImage)}}" class="card-img-top" alt="...">
						{% endfor %}
					{% endfor %}
					<div class="card-body">
						<h5 class="card-title">{{annonce.titre}}</h5>
						<p class="card-text">card title and make up the bulk of the card's content.</p>
						<a href="{{ path('detailAnnonce', {id: annonce.id}) }}" class="btn btn-dark-green">Voir plus</a>
					</div>
				</div>
			</div>
		{% endfor %}
		<a class="" href="list">Voir tous les chiens >>
		</a>

	</section>
	<hr>
	<section id="partenaires" class="py-5">
		<h2 class="text-center mb-5">Nos partenaires eleveurs et associations</h2>
		<div class="row mx-auto ">
			{% for key, annonce in annonces %}
				<div class="col-3 p-0 ms-4 mb-2 card bg-dark text-white">
					{% for dog in annonce.dogs %}
						{% for image in dog.images %}
							<img src="{{ vich_uploader_asset(annonce.firstImage)}}" class="card-img" alt="...">
						{% endfor %}
					{% endfor %}
					<div class="card-img-overlay">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text">Last updated 3 mins ago</p>
					</div>
				</div>
			{% endfor %}
		</div>


	</section>


{% endblock %}
