{% extends 'base.html.twig' %}

{% block body %}

	{{ form_start(form)}}
	<a href="{{path("image_new")}}" class="btn btn-info">Ajouter une image</a>
	{{ form_row(form.titre) }}
	{{ form_row(form.dogs) }}
	<button class="btn btn-info" type="submit">Valider</button>
	{{ form_end(form) }}
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('js/collection.js') }}"></script>
{% endblock %}
