{% extends 'base.html.twig' %}

{% block body %}

<section class="py-5">
	
	<h3>Vos demandes d'adoption</h3>
  <ol class="list-group list-group-numbered py-2">
        {% for demande in demandes %}
		<li>
				<h4>Annonce : {{demande.annonce.titre}}</h4>
				<h5>Sujet : {{demande.sujet}} </h5>
				<ul>
					{% for message in demande.messages %}
						<li class="list-group-item">Message : <br/>{{ message.text }}</li>
					{% endfor %}
				</ul>
			</li>
        {% endfor %}
    </ol>
</section>

	{# {{ form_start(form)}}
		{{ form_row(form.titre) }}
		{{ form_row(form.adoptant) }}
	
		<button class="btn btn-info" type="submit">Valider</button>
		{{ form_end(form) }} #}
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('js/collection.js') }}"></script>
{% endblock %}
