{% extends 'base.html.twig' %}

{% block title %}Hello DetailAnnonceController!
{% endblock %}

{% block body %}


	<section class="py-5">
		<h2 class="text-center mb-5">Titre de l'annonce</h2>
		<p class="card-text">Nombre de chien :
		</p>
		<p class="card-text">
			<small class="text-muted">Last updated 3 mins ago</small>
		</p>
		<div class="row mx-auto">
			<div class="card my-3 ">
				<div class="row g-0">
					<div class="col-md-4">
						<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
							{% for dog in annonce.dogs %}
								<div class="carousel-inner">
									{% for image in dog.images %}
										<div class="carousel-item {% if loop.index == 1 %}active{% endif %}" id="slide{{ loop.index }}">
											<img class="d-block w-100" src="{{ vich_uploader_asset(image)}}">
										</div>

									{% endfor %}
								</div>


								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>


							{# {% for dog in annonce.dogs %}
																																																																																																																																									{% for image in dog.images %}
																																																																																																																																																																																									<img src="{{ vich_uploader_asset(annonce.firstImage)}}" class="img-fluid rounded-start" alt="...">
																																																																																																																																																																																																																																																																																																							{% endfor %}
																																																																																																																																																																																						{% endfor %} #}
						</div>
						<div class="col-md-8">
							<div class="card-body">

								<div class="d-flex bd-highlight mb-3">
									<div class="me-auto p-2 bd-highlight">
										<h2 class="card-title">{{ dog.nom }}</h2>
									</div>
									
									<div class="p-2 bd-highlight">
										<a class="btn btn-dark-green" href="{{path('demande_adoption', {id:annonce.id} )}}" role="button">Adopter</a>
									</div>
								</div>
								{# {{dump(dog)}} #}
								<p class="card-text">Adoptable :
									{% if dog.estAdopte == 0  %}
										oui
									{% else %}
										non
									{% endif %}
								</p>
								<p class="card-text">race :
									{% for  Breed in dog.Breeds  %}
										{{ Breed.nom}}
									{% endfor %}
								</p>
								<p class="card-text">Tolerance :
									{% if dog.estTolerant == 1  %}
										oui
									{% else %}
										non
									{% endif %}
								</p>
								<p class="card-text">Antescedents  :
									{{ dog.antecedents }}
								</p>
								<p class="card-text">L.O.F :
									{% if	 dog.ifLof == 1  %}
										valide
									{% else %}
										non inscrit
									{% endif %}
								</p>
								<p class="card-text">description :
									{{ dog.description }}
								</p>

							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>


</div>{% endblock %}
