{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
<section class="py-5">
		<h2>{{annonce.titre}}</h2>
	<p>Publié le :
		<b>
			{{annonce.dateMAJ|date('d/m/Y à H:i')}}</b>
	</p>
	{% for dog in annonce.dogs %}
	<h3 class="text-center title fs-1"> {{dog.nom}}</h3>
		<div id="dogGallery" class="mx-auto row my-5">
		{% for image in dog.images %}
			<div class="col-4">
			<picture>
				<img class="img-fluid img-thumbnail dogImg" width="300" src="{{ vich_uploader_asset(image)}}"/>
			</picture>
			</div>
		{% endfor %}
		</div>
		<ul class="list-group list-group-flush">
		Races: 
		{% for breed in dog.breeds %}
			<li class="list-group-item">{{breed}}</li>
		{% endfor %}
		</ul>
	{% endfor %}
	
{% if demandeExistante %}

{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
{% else  %}
	{{form_start(form)}}
	{% for messageForm in form.messages %}
		<h3>Formulaire de demande d'adoption</h3>
		{{form_row(form.sujet)}}
		{{form_row(messageForm.text,{label:'Message'})}}
	{% endfor %}

	<button class="btn btn-dark-green" type="submit">Envoyer</button>
	{{form_end(form)}}
{% endif %}
</section>


	 <figure id="galleryContainer"><img src="" alt=""></figure>
	 
{% endblock %}
