{% extends 'base.html.twig' %}

{% block title %}Hello DemandeAdoptionController!
{% endblock %}

{% block body %}
	<h2>{{annonce.titre}}</h2>
	<p>Publié le :
		<b>
			{{annonce.dateMAJ|date('d/m/Y à H:i')}}</b>
	</p>
	{% for dog in annonce.dogs %}
		{% for image in dog.images %}
			<img src="{{ vich_uploader_asset(annonce.firstImage)}}"/>
		{% endfor %}
	{% endfor %}
	{{form_start(form)}}
	{% for messageForm in form.messages %}
		<h3>Formulaire de demande d'adoption</h3>
		{{form_row(messageForm.text,{label:'Message'})}}
	{% endfor %}
	<button type="submit">Envoyer</button>
	{{form_end(form)}}
{% endblock %}
