{% extends 'base.html.twig' %}

{% block title %}coucou
{% endblock %}

{% block body %}

	<h1 class="text-center my-5">
		Mes Annonces :</h1>
	<section class="py-5">
		{% for annonce in annonces %}
			<div class="row justify-content-center mx-auto">
				<div class="col-sm-12 col-md-6 col-lg-3 col-3 mx-auto mt-2">
					<div class="card" style=" width: 18rem;">
						{% if annonce.firstImage %}
							<img class="card-img-top" height="190.66px" src="{{ vich_uploader_asset(annonce.firstImage)}}">
						{% endif %}


						<h5 class="card-title">{{annonce.titre}}</h5>
						{% for dog in annonce.dogs %}
							<p class="card-text">{{dog.nom}}</p>
						{% endfor %}
						<a href="{{path('detailAnnonce', {id: annonce.id})}}" class="btn btn-dark-green">Voir Annonce</a>
					</div>
				</div>
			</div>
		{% endfor %}

		<div class="col-sm-12 col-md-6 col-lg-3 col-3 mx-auto mt-2">

			<a class="align-middle " href="{{path('annonce_new')}}">
				<i class="fas fa-plus-circle"></i>
			</a>
			<a class="align-middle " href="{{path('image_new')}}">
				<i>Ajouter une image</i>
			</a>
		</div>
	</div>
</section>
<section class="py-5">
	<h1 class="text-center mt-5">
		Mes Messages :</h1>

	<div>
		<table id="msg-table" class="table table-striped mt-5">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Message</th>
					<th scope="col">repondu/non repondu</th>
					<th class="text-center" scope="col">Action</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Oui</td>
					<td>
						<button type="button" class="btn btn-dark-green">Repondre</button>

					</td>
					<td>
						<button type="button" class="btn btn-danger">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Non</td>
					<td>
						<button type="button" class="btn btn-dark-green">Repondre</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>Oui</td>
					<td>
						<button type="button" class="btn btn-dark-green">Repondre</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>

				<tr>
					<th scope="row">5</th>
					<td>Antoine</td>
					<td>Peut etre</td>
					<td>
						<button type="button" class="btn btn-dark-green">Repondre</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>{% endblock %}
